*{
    margin: 0;
    padding: 0;
    
}
body{
    background: linear-gradient(135deg,#84ffc9,#aab2ff,#eca0ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.noto-serif-headingfont {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 3rem;
    padding-bottom: 1rem;
    
}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 0.5rem;
    background-color: transparent;
    height: 50vh;
    width: 50vh;
    border: none;
    border-radius: 1rem;
}
.cell{
    background-color: aliceblue;
    border: none;
    border-radius: 2rem;
    box-shadow: 0 0 2rem rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    cursor:pointer;
    color: rgb(235, 18, 18);
    
}
.reset-btn{
    margin: 1rem;
    padding: 0.5rem;
    height: 2.5rem;
    width: 10rem;
    border-radius: 2rem;
    background-color: #7155c7;
    color: white;
    font-size: 1.1rem;
    border: none;
    box-shadow: 0 0 2rem rgba(0,0,0,0.1);
    cursor: pointer;
}

.reset-btn:hover{
    background-color: #451ea0;
}

.baloo-2-font {
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

@media (max-width:320px) {
    .container{
        height: 40vh;
        width: 40vh;
    }
}